:root {
    --dark: #111213;    
    --dark-muted: #2f3640;
    --light: #d7eaea;   
    --blue: #acdbdf;    /* Средний аквамариновый, подходит для кнопок или второстепенных акцентов */
    --beige: #ffe047;     /* Теплый бежевый, может быть основным фоновым цветом */
    --bisque:  bisque;
  }
