:root {
    --dark: #111213;    
    --light: #d7eaea;   
    --blue: #acdbdf;    /* Средний аквамариновый, подходит для кнопок или второстепенных акцентов */
    --beige: #f4d19b;     /* Теплый бежевый, может быть основным фоновым цветом */
  }
