:root {
    --dark: #111213;    
    --dark-muted: #2f3640;
    --dark-blue: #2C5572;
    --blue-hover: #0a4c7c;
    --green: #06696C;
    --light: #d7eaea; 
    --light-hover: #cccccc;  
    --blue: #32bbc7;    /* Средний аквамариновый, подходит для кнопок или второстепенных акцентов */
    --beige: #ffe047;     /* Теплый бежевый, может быть основным фоновым цветом */
    --bisque:  bisque;
    --bisque-hover:  rgb(231, 218, 202);
    --white: #ffffff;
    --red: #912016;
  }
